/**
 * Flashmessage
 */

.region-flash {
    #desinax-vgrid.column(@columns);
}

.region-flash-message p {
    margin-top: 24px;
    margin-bottom: 24px;
}

.flashmessage-icon {
    float: right;
    font-size: 3em;
    padding-right: .5em;
}

.flashmessage {
    border: 2px solid #92cae4;
    color: #205791;
    background: #d5edf8;
    padding: .5em;
}

.route-
.outer-wrap-flash {
    margin-bottom: @magicNumber;
}

.route-om
.outer-wrap-flash {
    margin-bottom: @magicNumber;
}
