/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */

/**
 * Main and sidebars layout
 */

.inner-wrap {
    margin: 0 auto;
    max-width: 1100px;
    box-sizing: border-box;
}

.inner-wrap-main {
    padding-bottom: 2.5em;
}

.region-main {
    // display: inline;
    float: left;
    width: 70%;
    // margin-right: auto;
    margin-left: 15%;

    &.has-sidebar {
        margin-left: 0;
    }
    &.has-sidebar-right {
        margin-right: 1%;
    }
    &.has-sidebar-left {
        margin-left: 1%;
    }
    &.has-sidebar-left.has-sidebar-right {
        width: 58%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
}

.region-sidebar-left {
    width: 28%;
    float: left;
    margin-right: .5%;
}

.region-sidebar-right {
    width: 28%;
    float: left;
    margin-left: .5%;
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    width: 20%;
}

/**
* Next and Previous buttons
*/
.next a,
.previous a {
    color: #333;
    text-decoration: none;
}

.next a:hover,
.previous a:hover {
    text-decoration: underline;
}

.next {
    float: right;
}

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

code,
pre {
    font-size: 1.20em;
    font-family: monospace;
    white-space: pre;
    padding: .1em;
    background: #f5f1e4;
    font-weight: bold;
    border-radius: 5px;
}

/**
 * Clearfix
 */
.author-byline,
.row,
.footer-column-wrapper {
    .clearfix();
}
